*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #EEE;
}
header{
    text-align: center;
    padding: 20px;
}
.item-clases{
    padding-left: 50px;
}
.items{
    padding-left: 50px;
    margin: 10px;
}
.parrafo-expl{
    padding: 20px 50px;
    text-align: center;
}
.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: min-content;
 

}
.btn-tareas{
    position: absolute;
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
}


.input-tarea , .input-desc{
    padding: 6px;

}
/* ESTILO DEL FORM TOTAL */
.enter-data{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}
#lista-task{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 50px;
}
#lista-task div{
    padding-bottom: 10px;
    border-radius: 10px;
    border: black solid 1px;
    padding: 15px;
    background: rgb(253,255,253);
    width: 200px;
}
/* ESTILO DE CADA INPUT */
.add-btn{
    height: 40px;
    width: 200px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.input{
    border-radius: 5px;
    margin: 2px;
    padding: 7px;
    border: solid black 1px;
    /* flex-basis: 350px; */
    width: 350px;
    display: block;
}
#btn-delete{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
#btn-delete:hover{
    background: #ff6961;
    cursor: default;
}