*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background: #EEE;
    width: 100%;
}
.header{
    position: relative;
    background: #212121;
    padding: 15px;
    width: 100%;
    height: 80px;
}
.header-logo{
    text-align: center;
}
.header-text{
    text-transform: uppercase;
    font-size: 25px;
    vertical-align: middle;
    font-weight: 900;
    padding-left: 10px;
    color: #fdfffd;
}

.contenido{
    width: 100%;
    position:fixed;
    top: 80px;
    right: 0px;
    box-sizing: border-box;
    padding-left: 50px;
    transition: all 0.2s;
}

.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: min-content;
 

}
.btn-tareas{
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
}


.input-tarea , .input-desc{
    padding: 6px;

}
/* ESTILO DEL FORM TOTAL */
.enter-data{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}
#lista-task{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 50px;
}
#lista-task div{
    padding-bottom: 10px;
    border-radius: 10px;
    border: black solid 1px;
    padding: 15px;
    background: #fdfffd;
    width: 200px;
}
/* ESTILO DE CADA INPUT */
.add-btn{
    height: 40px;
    width: 200px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.input{
    border-radius: 5px;
    margin: 2px;
    padding: 7px;
    border: solid black 1px;
    /* flex-basis: 350px; */
    width: 350px;
    display: block;
}
#btn-delete{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
#btn-delete:hover{
    background: #ff6961;
    cursor: default;
}


/* MENU BAR */
.btn-menu{
    background-color: #212121;
    border: black;
    text-align: start;
    float: left;
    padding-left: 15px;
    cursor: pointer;
}
.menu-bar{
    position: fixed;
    background:#212121;
    height: 100vh;
    left:0;
    top: auto;
    z-index: 100;

}

.menu-ul{
    list-style: none;
    padding-left: 0;
}
.menu-item{
    text-decoration: none;
    padding: 20px 30px; 
}
.menu-item:hover{
    background:#2b2b2b;
}
.menu-enlace{
    text-decoration: none;
    padding-top: 20px;
    position: relative;
}

.bi{
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fdfffd;
}

.menu-text{
    color: #fdfffd;
    text-transform: capitalize;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    display: none;
    padding-left: 10px;
}


/* ACTIVE CLASS */
.active .menu-text{
    display: inline-block;
    transition: all 0.2s;
}
.open{
    padding-left: 150px;
}